img {
	object-fit: cover;
}
.publications{
	list-style-type: none;
	line-height: 100%;
	padding-left: 0;
	padding-top: 1em;
}
.paper-title >a {
	font-weight: 300;
	font-size: 90%;
	text-decoration: none;
}
.paper-info {
	/* color: #4472CA; */
	margin-top: .25em;
	font-size: 75%;
	padding-bottom: 2em;
}
.paper-note {
	/* color: #9115cf; */
	color: #07a71c;
	font-size: 75%;
	padding-bottom: 2em;
	margin-top: -2em;
}
.refs {
	font-size: 80%;
}
.refs > a {
	text-decoration: none;
}