
<div>
    {% if member.image %}<img src="{{ member.image }}" alt="{{ member.name }}" width="250" height="250">{% endif %}
    <h3> 
        {{ member.name }}{% if member.title %}, {{ member.title }}{% endif %} &nbsp;
        {% if member.links.email %}<a href="mailto:{{ member.links.email }}"><i class="fa-solid fa-envelope"></i></a> &nbsp;{% endif %}
        {% if member.links.linkedin %}<a href="https://www.linkedin.com/in/{{ member.links.linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a> &nbsp;{% endif %}
        {% if member.links.website %}<a href="{{ member.links.website }}"><i class="fa-solid fa-link"></i></a> &nbsp;{% endif %}
        {% if member.links.google-scholar %}<a href="https://scholar.google.com/citations?user={{ member.links.google-scholar }}"><i class="fa-brands fa-google-scholar"></i></a> &nbsp;{% endif %}
        {% if member.links.github %}<a href="https://github.com/{{ member.links.github }}"><i class="fa-brands fa-github"></i></a> &nbsp;{% endif %}
        {% if member.links.bluesky %}<a href="https://{{ member.links.bluesky }}.bsky.social"><i class="fa-brands fa-bluesky"></i></a> &nbsp;{% endif %}
    </h3>
    <p>{{ member.bio }}</p>
    <br>
</div>