
<h3>{{ year.name }}</h3>

<ul class="publications">
    {% for publication in publications %}
        <li class="paper-title" {% if publication.id %}id="{{ publication.id }}"{% endif %}><a href="{% if publication.pdf %}{{publication.pdf}}{% else %}{{publication.url}}{% endif %}">{{publication.title}}</a></li>
        <li class="paper-info">{{publication.authors}}. <i>{{publication.journal}}</i></li>
        {% if publication.note %}<li class="paper-note">{{publication.note}}</li>{% endif %}
    {% endfor %}
</ul>